<%- include("header") -%>
    <h1 class="box" id="heading">This is about Page</h1>
    <p id="about">Meet Shashi Pratap, a passionate person with a strong curiosity and a talent for expressing attractive ideas. Having completed my B.Tech in Electronics Engineering from HBTU Kanpur, I'm from the charming town of Ballia in Uttar Pradesh, India. With an unyielding love for exploring trending topics, I have honed the art of articulating my insights with eloquence and flair. My inquisitive nature drives me to delve deep into various subjects, from cutting-edge innovations to the cultural tapestry that colors our world. Armed with a creative spirit and an open mind, I welcomes every opportunity to engage in meaningful discussions that broaden perspectives and inspire those around me. As I sets forth on mine journey to share my thoughts with the world, I am thoughtful contributions promise to leave a lasting impact on readers and spark lively conversations wherever they go.
    </p>
    <br><br>
<%- include("footer") -%>