<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar">
        
        <a href="/"><img src="ShashiP_logo.png"></a>
        <a href="/">HOME</a>
        <a href="/work">WORK</a>
        <a href="/about">ABOUT</a>
    </nav>